/* You can add global styles to this file, and also import other style files */
div {
	text-align: left;
}

input[type=button] {
	background-color: white;
	border-radius: 5px;
	padding: 5px;
}

.panel-footer {
	background-color: white;
	border:none;
}